html {
  font-size: 62.5%; /* asignar unidad de medida 1rem ==16px por 1rem ==10px */
}


* {
  padding: 0; /* reseteamos valores por defecto de html5 */
  margin: 0;
  box-sizing: border-box;
  
}

/* Tipografia Local */

@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Light.ttf);
  
}


/* Mobile First */
.header {
  width: 100%;
  height: 15rem;
  font-size: 1.2rem;
  font-family: "poppins";
  background-color: #fca311;
  color: #ffffff;
  display: flex;
  justify-content:space-between;
  
  align-items:center;
  grid-area: header;
  
  
  
}

header img {
width: 7rem;
height: 7rem;


}



header ,nav ,ul ,li,a {
  color: #000000;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  
  
  
  
  

}

.publicidad { 

width: 35%;
display: none;
background-color: #fca311;


}



.bodyIndex {
  font-family: "poppins";
  background-color: #0a100d;
  color: #fffcf2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "header header"
  "imagenportada imagenportada"
  "fondotext fondotext "
  "footer footer ";
  flex-wrap: wrap;
  height: 100vh;
  

}








.fondotext   {
  
  font-size: 16px;
  color: #ecb80a;
  position: relative;
  left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  background-color:transparent;
  grid-area: fondotext;
  
  
}

.text1 {

color: #edf6f9;
text-align: center;
align-items: center;
font-size: 3rem;
margin-top: 2rem;
margin-bottom: 3rem;


}


.wbflot img{ width: 50px; height: 50px; position: fixed; top: 70%; left: 85%; border-radius:  10rem; -webkit-border-radius:10rem; -moz-border-radius:10rem; -ms-border-radius:10rem; -o-border-radius:10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  
}


.footer {
  font-family: "poppins";
  font-size: 2rem;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  background-color: #fca311;
  grid-area: footer;
  
}

.footer img{
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40px;
  height: 40px;
}

footer .f {
  font-family: "poppins";
  font: bold;
  font-size: 1rem;
  color: #070500;
  margin: 1rem;
  
  

}

.imgrs {

  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

/*  empresa.html mobile first */

.bodyempresa{ 
  display: grid;
  grid-template-columns: 2fr ;
  grid-template-rows: repeat(4, 2fr) ;
  grid-template-areas: 
  "header header"
  "carousel carousel"
  "textempresa textempresa"
  "footer footer ";
  flex-wrap: wrap;
  height: 100vh;
  gap: 0.2rem;
  background-color: #0a100d;
  

}


#carouselExampleAutoplaying { 

  grid-area: carousel;
  
  
  }



.textempresa {
  
  
  
  color: #fefae0;
  font-size: 1.2rem;
  display: flex;
  font-family: 'poppins';
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem;
  width: 95%;
  
  


}

.navempresa {

  width: 35%;
  background-color: #14633b;
  grid-area: navempresa;
  display: none;
  
  
    }

    .font-monospace {
      font-size: 1.2rem;
      color: #fefae0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
  
  
  
  
    } 

/* productos.html agregamos estructura con Grid*/

  /* Propiedades del Contenedor para mobile firs */


  .falsobody {
    
    background-color: #0a100d;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:0.5fr 1fr 0.1fr;
    grid-template-areas: 
    
        "header header header"
        "cardP cardP cardP"
        "card-body card-body card-body"
        "footer footer footer";
    

  }

  /* Propiedades de los items */

  

  .productosCard {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: cardP;
    
    
    justify-content: space-around;
    width: 95%;

  }

  .card-body {

    
    background-color: #ecb80a;
    grid-area: card-body;



  }

  

  /* servicios.html */

  /* Propiedades del Contenedor para mobile firs */


  .bodyServicios {
    
    background-color: #0a100d;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 3fr 0.1fr ;
    grid-template-areas: 
    
        "header header "
        "carouselServicio  infoservicio"
        "footer footer ";
        

  }

  .carouselServicios {
    width: 50rem; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: carouselServicio;

  }

  .infoServicio {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: infoservicio;
  }

  .accordion-item {
    width: 90%;
    background-color: #000000;
    font-size: 2rem;
    color: #edf6f9;
  }

  .btn-warning {
    width: 90%;
    background-color: #023047;
    font-size: 2rem;
    color: #edf6f9;
  }








  /*  contacto.html */

.contacto {
  
  background-color: #0a100d;
  color: #edf6f9;
  font-family: "poppins";
  display: grid;
  justify-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  
  grid-template-columns:0.5fr 1fr 0.5fr;
  grid-template-rows: 0.4fr 2fr 0.1fr;
  grid-template-areas: 
  
  "header header header"
  "horarios mapa form"
  "horarios mapa form"
  "footer footer footer";

  

}

.titulo-c{


  color: #fca311;
  font-size: 4rem;
  display: flex;
  position: relative;
  margin: 4rem;
  top: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;

}

.formContacto {

  width: 80%;
  font-size: 1.5rem;
  height: 40rem;
  background-color: #fefae0;
  color: #000000;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: left;
  top: 12rem;
  position: relative;
  grid-area: form;
}





.horarios {
color: #edf6f9;
font-size: 2rem;
background-color: transparent;
display: flex;
flex-direction: row;
flex-wrap: wrap;
text-align: center;
position: relative;
top: 2rem;
grid-area: horarios;
}

article .mapa  {
  color: #edf6f9;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  grid-area: mapa;
  
  height: 40rem;
  
  
  }

  article iframe {

  width: 35rem;
  height: 35rem;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  left: 0rem;
  top: 15rem;

  }

  


/* fin de Mobile First */

/* Query para tablets */

@media screen and (min-width: 480px) and (max-width:1199px){

  .header {
    
    font-size: 1.6rem;
    
    
  }
  
  header img {
  width: 7rem;
  height: 7rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.bodyIndex {
  display: grid;
  grid-template-columns:  2fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 0.2fr;
  grid-template-areas: 
  "header header "
  "img-fluid img-fluid"
  "fondotext fondotext"
  "footer footer ";
  flex-wrap: wrap;
  height: 100vh;
  

}


.img-fluid {

  position: relative;
  grid-area: img-fluid;
  top: 2%;
  
  

}

.publicidad { 

  width: 100%;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color:#14633b;
  grid-area: publicidad;
  height: 100vh;
  }

.fondotext   {
  font-size: 14px;
  
  flex-wrap: wrap;
  width: 90%;
  bottom: 1rem;
  text-align: left;
  grid-area: fondotext;
}

.text1 {

  color: #fca311;
  text-align: left;
  align-items: center;
  font-size: 2rem;
  
  
  
  }



  .wbflot img{ width: 50px; height: 50px; position: fixed; top: 80%; left: 95%; border-radius:  10rem; -webkit-border-radius:10rem; -moz-border-radius:10rem; -ms-border-radius:10rem; -o-border-radius:10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
  }

  footer  .footer {
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: space-between;
    
    grid-area: footer;
    
  }
  
  footer img{
    
    width: 40px;
    height: 40px;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
  footer .f {
    font-family: "poppins";
    font: bold;
    font-size: 1.5rem;
    color: #070500;
    margin: 1rem;
    
    
    
  
  }

  /* empresa.html query tablet */

  .bodyempresa { 
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas: 
    "header header"
    "carousel carousel"
    "textempresa textempresa"
    "footer footer";
    flex-wrap: wrap;
    height: 100vh;
    gap: 2rem;
    background-color: #0a100d;
    
  
  }
  
  
  #carouselExampleAutoplaying { 

    grid-area: carousel;
    margin: 4rem;
    
    
    }
  
  .textempresa {
    
    
    width: 100%;
    
    color: #fefae0;
    font-size: 1.5rem;
    display: flex;
    font-family: 'poppins';
    
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
    margin: 2rem;
    
    
  
  
  }
  
  .font-monospace {
    font-size: 4rem;
    color: #fefae0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;




  } 

}

/* Query para Desktop */

@media screen and (min-width: 1200px) {  



  .header {
    width: 100%;
    height: 10rem;
    font-size: 1.5rem;
    font-family: "poppins";
    background-color: #fca311;
    
    display: flex;
    justify-content:space-between;
    
    align-items:center;
    grid-area: header;
    
    
    
  }
  
  header img {
  width: 9rem;
  height: 9rem;
  
  
  }

  

  .bodyIndex {
    display: grid;
    grid-template-columns:  2fr 2fr 0.1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas: 
    "header header header"
    "img-fluid img-fluid publicidad"
    "fondotext fondotext publicidad"
    "footer footer footer";
    flex-wrap: wrap;
    height: 100vh;

    
  
  }
  
  
  .img-fluid {
  
    position: relative;
    grid-area: img-fluid;
    
    left: 25%;
    width: 50%;
    
  
  }

.fondotext   {
  
  font-size: 20px;
  color: #fffcf2;
  position: relative;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  background-color:transparent;
  grid-area: fondotext;
  left: 15%;
  
  
  
}

.text1 {

color: #fca311;
text-align: center;
align-items: center;
font-size: 6rem;
position: relative;
margin-top: 3rem;



}



.publicidad { 

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color:transparent;
  grid-area: publicidad;
  height: 100vh;
  }

  .wbflot img{ width: 50px; height: 50px; position: fixed; top: 80%; left: 95%; border-radius:  10rem; -webkit-border-radius:10rem; -moz-border-radius:10rem; -ms-border-radius:10rem; -o-border-radius:10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
  }

.footer {
  
  align-items:center;
  justify-content:space-between;
  
}

footer .f {
  
  font-size: 2rem;
  justify-content:space-between;

}

/* empresa.html query desktop */



.bodyempresa { 
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 0.4fr;
  grid-template-areas: 
  "header header"
  "carousel navempresa"
  "carousel textempresa" 
  "footer footer";
  flex-wrap: wrap;
  height: 100vh;
  gap: 0rem;
  background-color: #0a100d;
  

}


.portada {
  
  grid-area:carousel ;
  

}

#carouselExampleAutoplaying { 

grid-area: carousel;
margin: 2rem;


}

.textempresa {
  
  
  width: 92%;
  
  color: #fefae0;
  font-size: 1.8rem;
  display: flex;
  font-family: 'poppins';
  
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem;
  grid-area: textempresa;
  
  


}



.font-monospace {
  font-size: 4rem;
  color: #fefae0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;




}  




}






































  

 
  
/* Mediaquery Diseño Responsive Tablets */

