/* comentario en sass y en css. */
html {
  font-size: 62.5%; /* asignar unidad de medida 1rem ==16px por 1rem ==10px */
}
html * {
  padding: 0%; /* reseteamos valores por defecto de html5 */
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/fonts/Roboto-Regular.ttf");
}
.headerGlobal {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  justify-content: space-between;
  font-size: 0.5rem;
  background: #000814;
  grid-area: headerGlobal;
}
.headerGlobal img {
  width: 6rem;
  height: 6rem;
  margin: 2rem;
}
.headerGlobal .container-fluid .navbar-nav {
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
}

.bodyIndex {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
  grid-template-areas: "headerGlobal" "imgFluid" "fondoText" "footerGlobal";
  display: grid;
  place-items: center;
  height: auto;
}
.bodyIndex .img-fluid {
  width: 90%;
  padding: 1rem;
  margin-top: 1rem;
  display: grid;
  place-items: center;
  height: auto;
  grid-area: imgFluid;
}
.bodyIndex .img-fluid img {
  width: auto;
  height: auto;
  display: grid;
  place-items: center;
  height: auto;
}
.bodyIndex .fondoText {
  display: grid;
  place-items: center;
  height: auto;
  width: 90%;
  grid-area: fondoText;
  text-align: left;
}
.bodyIndex .fondoText .textUno {
  padding: 1rem;
  width: 90%;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.1em;
  transition: 0.3s ease;
  background: #0466c8;
  box-shadow: 0 1px 1px #000000;
  color: #ffffff;
  text-align: left;
  -webkit-animation: 2s anim-lineUp ease-out;
  animation: 2s anim-lineUp ease-out;
}
.bodyIndex .fondoText .textUno:hover {
  box-shadow: 0 5px 20px #000814;
  -webkit-transform: translateY(-10px) scale(1.02);
  -moz-transform: translateY(-10px) scale(1.02);
  -ms-transform: translateY(-10px) scale(1.02);
  -o-transform: translateY(-10px) scale(1.02);
  transform: translateY(-10px) scale(1.02);
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.bodyIndex .fondoText p {
  width: 90%;
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.bodyEmpresa {
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
  height: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
  grid-template-areas: "headerGlobal" "carouselEmpresa" "textEmpresa" "footerGlobal";
  height: 100vh;
  background-color: #ffffff;
}
.bodyEmpresa #carouselExampleAutoplaying {
  display: grid;
  place-items: center;
  height: auto;
  grid-area: carouselEmpresa;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.bodyEmpresa #carouselExampleAutoplaying img {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  height: auto;
  padding: 3rem;
}
.bodyEmpresa .textEmpresa {
  grid-area: textEmpresa;
  display: grid;
  place-items: center;
  height: auto;
}
.bodyEmpresa .textEmpresa .font-monospace {
  width: 90%;
  display: grid;
  place-items: center;
  height: auto;
  padding: 3rem;
  margin-top: 1rem;
  font-size: 3rem;
  color: #ffffff;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.1em;
  transition: 0.3s ease;
  background: #0466c8;
  box-shadow: 0 1px 1px #000000;
  color: #ffffff;
  text-align: left;
  -webkit-animation: 2s anim-lineUp ease-out;
  animation: 2s anim-lineUp ease-out;
}
.bodyEmpresa .textEmpresa .font-monospace:hover {
  box-shadow: 0 5px 20px #000814;
  -webkit-transform: translateY(-10px) scale(1.02);
  -moz-transform: translateY(-10px) scale(1.02);
  -ms-transform: translateY(-10px) scale(1.02);
  -o-transform: translateY(-10px) scale(1.02);
  transform: translateY(-10px) scale(1.02);
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.bodyEmpresa .textEmpresa .textE {
  display: grid;
  place-items: center;
  height: auto;
  width: 90%;
  color: #000000;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

.falsoBody {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  height: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas: "headerGlobal" "cardP" "footerGlobal";
  height: 100vh;
}
.falsoBody .productosCard {
  display: grid;
  place-items: center;
  height: auto;
  grid-area: cardP;
  color: #ffffff;
  width: 90%;
}
.falsoBody .productosCard .textDos {
  width: 90%;
  display: grid;
  place-items: center;
  height: auto;
  margin-top: 3rem;
  padding-left: 10rem;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.1em;
  transition: 0.3s ease;
  background: #0466c8;
  box-shadow: 0 1px 1px #000000;
  color: #ffffff;
  text-align: left;
  -webkit-animation: 2s anim-lineUp ease-out;
  animation: 2s anim-lineUp ease-out;
}
.falsoBody .productosCard .textDos:hover {
  box-shadow: 0 5px 20px #000814;
  -webkit-transform: translateY(-10px) scale(1.02);
  -moz-transform: translateY(-10px) scale(1.02);
  -ms-transform: translateY(-10px) scale(1.02);
  -o-transform: translateY(-10px) scale(1.02);
  transform: translateY(-10px) scale(1.02);
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.falsoBody .productosCard .card {
  width: 90%;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  color: #ffffff;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.1em;
  transition: 0.3s ease;
  background: #0466c8;
  box-shadow: 0 1px 1px #000000;
  color: #ffffff;
  text-align: left;
  -webkit-animation: 2s anim-lineUp ease-out;
  animation: 2s anim-lineUp ease-out;
  margin-bottom: 2rem;
  display: grid;
  place-items: center;
  height: auto;
}
.falsoBody .productosCard .card:hover {
  box-shadow: 0 5px 20px #000814;
  -webkit-transform: translateY(-10px) scale(1.02);
  -moz-transform: translateY(-10px) scale(1.02);
  -ms-transform: translateY(-10px) scale(1.02);
  -o-transform: translateY(-10px) scale(1.02);
  transform: translateY(-10px) scale(1.02);
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.falsoBody .productosCard .card .card-title {
  margin-top: 3rem;
  font-size: 2rem;
  color: #c1d3fe;
  margin-bottom: 3.5rem;
  display: grid;
  place-items: center;
  height: auto;
}
.falsoBody .productosCard .card .btn-warning {
  display: grid;
  place-items: center;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.bodyServicios {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  height: auto;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 3fr 2fr 0.1fr;
  grid-template-areas: "headerGlobal" "carouselServicio" "asideProd" "footerGlobal";
}
.bodyServicios .carouselServicios {
  display: grid;
  place-items: center;
  height: auto;
  width: 100%;
}
.bodyServicios .carouselServicios .carousel-inner {
  margin-top: 3rem;
  width: 100%;
  padding: 3rem;
  grid-area: carouselServicio;
}
.bodyServicios .carouselServicios .tituloServicio {
  width: 90%;
  color: #ffffff;
  margin-top: 3rem;
  font-size: 2.5rem;
  display: grid;
  place-items: center;
  height: auto;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.1em;
  transition: 0.3s ease;
  background: #0466c8;
  box-shadow: 0 1px 1px #000000;
  color: #ffffff;
  text-align: left;
  -webkit-animation: 2s anim-lineUp ease-out;
  animation: 2s anim-lineUp ease-out;
}
.bodyServicios .carouselServicios .tituloServicio:hover {
  box-shadow: 0 5px 20px #000814;
  -webkit-transform: translateY(-10px) scale(1.02);
  -moz-transform: translateY(-10px) scale(1.02);
  -ms-transform: translateY(-10px) scale(1.02);
  -o-transform: translateY(-10px) scale(1.02);
  transform: translateY(-10px) scale(1.02);
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.bodyServicios .carouselServicios .text-pago {
  margin-top: 3rem;
  display: grid;
  place-items: center;
  height: auto;
  font-size: 1.8rem;
  text-align: left;
  width: 90%;
  color: #000000;
}
.bodyServicios .asideProd {
  width: 90%;
  display: grid;
  place-items: center;
  height: auto;
  color: #000000;
  grid-area: asideProd;
}
.bodyServicios .asideProd .text-start {
  margin-top: 3rem;
  display: grid;
  place-items: center;
  height: auto;
  font-size: 1.8rem;
  text-align: left;
  width: 90%;
}
.bodyServicios .asideProd .tarjetaCredito {
  display: grid;
  place-items: center;
  height: auto;
  margin-top: 3rem;
}
.bodyServicios .asideProd .tarjetaCredito img {
  width: 85%;
  height: 70%;
  margin-bottom: 3rem;
}

.contacto {
  background-color: #ffffff;
  color: #000000;
  display: grid;
  place-items: center;
  height: auto;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 2fr 1fr 2fr 0.1fr;
  grid-template-areas: "headerGlobal" "form" "horarios" "mapa" "footerGlobal";
}
.contacto .formContacto {
  margin-top: 4rem;
  width: 90%;
  font-size: 2rem;
  padding: 2rem;
  background: #0466c8;
  color: #ffffff;
  display: grid;
  place-items: center;
  height: auto;
  justify-content: left;
  align-content: left;
  text-align: left;
  grid-area: form;
}
.contacto .formContacto .elem-group {
  padding-top: 1.5rem;
  margin-top: 3rem;
}
.contacto .divHorarios {
  padding: 1rem;
  width: 90%;
  color: #000000;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  background-color: transparent;
  display: grid;
  place-items: center;
  height: auto;
  text-align: left;
  grid-area: horarios;
}
.contacto .divHorarios p {
  margin-top: 3rem;
  width: 90%;
  font-size: 2rem;
}
.contacto .divHorarios .tituloHorarios {
  padding: 3rem;
  width: 90%;
  color: #ffffff;
  font-size: 3rem;
  display: grid;
  place-items: center;
  height: auto;
  margin-top: 1rem;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.1em;
  transition: 0.3s ease;
  background: #0466c8;
  box-shadow: 0 1px 1px #000000;
  color: #ffffff;
  text-align: left;
  -webkit-animation: 2s anim-lineUp ease-out;
  animation: 2s anim-lineUp ease-out;
}
.contacto .divHorarios .tituloHorarios:hover {
  box-shadow: 0 5px 20px #000814;
  -webkit-transform: translateY(-10px) scale(1.02);
  -moz-transform: translateY(-10px) scale(1.02);
  -ms-transform: translateY(-10px) scale(1.02);
  -o-transform: translateY(-10px) scale(1.02);
  transform: translateY(-10px) scale(1.02);
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.contacto .mapaContacto {
  display: grid;
  place-items: center;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  grid-area: mapa;
}
.contacto .mapaContacto iframe {
  width: 100%;
  height: 100%;
}

.footerGlobal {
  width: 100%;
  padding-left: 9rem;
  padding-right: 9rem;
  height: 8rem;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  background: #000814;
  grid-area: footerGlobal;
}
.footerGlobal .logoFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 6rem;
  height: 6rem;
  margin-top: 3rem;
}
.footerGlobal .footerText {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #ffffff;
  margin-top: 3rem;
}
.footerGlobal a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: nowrap;
  list-style-type: none;
  text-decoration: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.footerGlobal a img {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
  /* header */
  .headerGlobal {
    font-size: 1.6rem;
  }
  .headerGlobal img {
    width: 6rem;
    height: 6rem;
  }
  .headerGlobal .container-fluid {
    margin-top: 1rem;
  }
  .headerGlobal .container-fluid .navbar-nav {
    margin-right: 3rem;
  }
  /* footer */
  .footerGlobal {
    height: auto;
    padding: 3rem;
  }
  .footerGlobal .logoFooter {
    width: 6rem;
    height: 6rem;
  }
  .footerGlobal a img {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
  }
  .footerGlobal .footerText {
    width: 100%;
    font-size: 1.8rem;
    flex-wrap: nowrap;
  }
  /* home.scss*/
  .bodyIndex {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.7fr 0.5fr 0.1fr;
    grid-template-areas: "headerGlobal" "imgFluid" "fondoText" "footerGlobal";
  }
  .bodyIndex .img-fluid {
    width: 100%;
    justify-content: center;
    padding: 2rem;
  }
  .bodyIndex .img-fluid img {
    width: auto;
    height: auto;
  }
  .bodyIndex .fondoText {
    width: 100%;
    background-color: transparent;
    text-align: left;
  }
  .bodyIndex .fondoText .textUno {
    font-size: 3rem;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.1em;
    transition: 0.3s ease;
    background: #0466c8;
    box-shadow: 0 1px 1px #000000;
    color: #ffffff;
    text-align: left;
    -webkit-animation: 2s anim-lineUp ease-out;
    animation: 2s anim-lineUp ease-out;
    margin-bottom: 3rem;
  }
  .bodyIndex .fondoText .textUno:hover {
    box-shadow: 0 5px 20px #000814;
    -webkit-transform: translateY(-10px) scale(1.02);
    -moz-transform: translateY(-10px) scale(1.02);
    -ms-transform: translateY(-10px) scale(1.02);
    -o-transform: translateY(-10px) scale(1.02);
    transform: translateY(-10px) scale(1.02);
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .bodyIndex .fondoText p {
    font-size: 4rem;
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
  /* empresa.scss */
  .bodyEmpresa {
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas: "headerGlobal headerGlobal" "carouselEmpresa carouselEmpresa" "textEmpresa textEmpresa" "footerGlobal footerGlobal";
  }
  .bodyEmpresa #carouselExampleAutoplaying {
    width: 80%;
  }
  .bodyEmpresa .textEmpresa {
    width: 90%;
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    height: auto;
  }
  .bodyEmpresa .textEmpresa .font-monospace {
    width: 90%;
    display: grid;
    place-items: center;
    height: auto;
    font-size: 5rem;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.1em;
    transition: 0.3s ease;
    background: #0466c8;
    box-shadow: 0 1px 1px #000000;
    color: #ffffff;
    text-align: left;
    -webkit-animation: 2s anim-lineUp ease-out;
    animation: 2s anim-lineUp ease-out;
    padding-left: 10rem;
  }
  .bodyEmpresa .textEmpresa .font-monospace:hover {
    box-shadow: 0 5px 20px #000814;
    -webkit-transform: translateY(-10px) scale(1.02);
    -moz-transform: translateY(-10px) scale(1.02);
    -ms-transform: translateY(-10px) scale(1.02);
    -o-transform: translateY(-10px) scale(1.02);
    transform: translateY(-10px) scale(1.02);
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  /* productos.scss */
  .falsoBody {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas: "headerGlobal" "cardP" "footerGlobal";
  }
  .falsoBody .productosCard {
    padding: 5rem;
    width: 100%;
  }
  .falsoBody .productosCard .textDos {
    font-size: 3rem;
    width: 60%;
    padding: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.1em;
    transition: 0.3s ease;
    background: #0466c8;
    box-shadow: 0 1px 1px #000000;
    color: #ffffff;
    text-align: left;
    -webkit-animation: 2s anim-lineUp ease-out;
    animation: 2s anim-lineUp ease-out;
  }
  .falsoBody .productosCard .textDos:hover {
    box-shadow: 0 5px 20px #000814;
    -webkit-transform: translateY(-10px) scale(1.02);
    -moz-transform: translateY(-10px) scale(1.02);
    -ms-transform: translateY(-10px) scale(1.02);
    -o-transform: translateY(-10px) scale(1.02);
    transform: translateY(-10px) scale(1.02);
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .falsoBody .productosCard .card {
    width: 90%;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .falsoBody .productosCard .card .card-body {
    width: 90%;
  }
  .falsoBody .productosCard .card .card-body .card-title {
    display: grid;
    place-items: center;
    height: auto;
    margin-top: 3rem;
    font-size: 2rem;
    color: #c1d3fe;
  }
  .falsoBody .productosCard .card .card-body .card-text {
    width: 90%;
    text-align: left;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #ffffff;
  }
  .falsoBody .productosCard .card .card-body .btn-warning {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  .falsoBody .productosCard .card .card-img-top {
    display: grid;
    place-items: center;
    height: auto;
    width: 100%;
  }
  /* servicios.scss */
  .bodyServicios {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
    grid-template-areas: "headerGlobal headerGlobal" "carouselServicio carouselServicio" "asideProd asideProd" "footerGlobal footerGlobal";
    height: 100vh;
  }
  .bodyServicios .carouselServicios {
    grid-area: carouselServicio;
  }
  .bodyServicios .carouselServicios .carousel-inner {
    margin-top: 5rem;
    width: 100%;
  }
  .bodyServicios .carouselServicios .tituloServicio {
    width: 90%;
    color: #ffffff;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.1em;
    transition: 0.3s ease;
    background: #0466c8;
    box-shadow: 0 1px 1px #000000;
    color: #ffffff;
    text-align: left;
    -webkit-animation: 2s anim-lineUp ease-out;
    animation: 2s anim-lineUp ease-out;
  }
  .bodyServicios .carouselServicios .tituloServicio:hover {
    box-shadow: 0 5px 20px #000814;
    -webkit-transform: translateY(-10px) scale(1.02);
    -moz-transform: translateY(-10px) scale(1.02);
    -ms-transform: translateY(-10px) scale(1.02);
    -o-transform: translateY(-10px) scale(1.02);
    transform: translateY(-10px) scale(1.02);
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .bodyServicios .carouselServicios .text-pago {
    margin-top: 5rem;
    font-size: 2rem;
    text-align: left;
    width: 90%;
  }
  .bodyServicios .asideProd {
    width: 90%;
    color: #000000;
    font-size: 2rem;
    grid-area: asideProd;
    margin-top: 5rem;
  }
  .bodyServicios .asideProd .text-start {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: left;
  }
  .bodyServicios .asideProd .tarjetaCredito {
    margin-top: 2rem;
  }
  .bodyServicios .asideProd .tarjetaCredito img {
    width: 80%;
    height: 80%;
    margin-bottom: 1rem;
  }
  /* Contacto.scss*/
  .contacto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 2fr 2fr 0.1fr;
    grid-template-areas: "headerGlobal headerGlobal" "form horarios" "mapa horarios" "footerGlobal footerGlobal";
    height: 100vh;
  }
  .contacto .formContacto {
    width: 90%;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-wrap: nowrap;
  }
  .contacto .formContacto .elem-group {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
  .contacto .divHorarios {
    width: 90%;
    color: #000000;
    padding: 3rem;
    margin-bottom: 2rem;
  }
  .contacto .divHorarios .tituloHorarios {
    color: #ffffff;
    font-size: 2rem;
  }
  .contacto .divHorarios p {
    margin-top: 2rem;
    font-size: 2rem;
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  /* header */
  .headerGlobal {
    padding: 4rem;
    height: 15rem;
  }
  .headerGlobal img {
    width: 6rem;
    height: 6rem;
    margin: 1rem;
  }
  .headerGlobal .container-fluid .navbar-nav {
    margin: 1rem;
  }
  /* footer */
  .footerGlobal {
    height: 10rem;
    justify-content: center;
    place-items: center;
  }
  .footerGlobal .logoFooter {
    width: 6rem;
    height: 6rem;
    margin: 1rem;
  }
  .footerGlobal .footerText {
    font-size: 1.5rem;
    margin: 1rem;
  }
  .footerGlobal a {
    list-style-type: none;
    text-decoration: none;
  }
  .footerGlobal a .imgFooter {
    width: 3rem;
    height: 3rem;
  }
  /*home.scss*/
  .bodyIndex {
    grid-template-columns: 0.4fr 0.4fr 1fr;
    grid-template-rows: 0.1fr 0.4fr 0.1fr;
    grid-template-areas: "headerGlobal headerGlobal headerGlobal" "imgFluid imgFluid fondoText" "footerGlobal footerGlobal footerGlobal";
  }
  .bodyIndex .img-fluid {
    width: 70%;
    padding: 0rem;
  }
  .bodyIndex .img-fluid .img-fluid:hover {
    -webkit-border-radius: 20%;
    -webkit-box-shadow: 0px 0px 15px 15px #0466c8;
    box-shadow: 0px 0px 15px 15px #0466c8;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    border-radius: 20%;
  }
  .bodyIndex .fondoText {
    width: 90%;
    height: 100vh;
    color: #000000;
    margin-top: 2rem;
  }
  .bodyIndex .fondoText .textUno {
    color: #c1d3fe;
    font-size: 4rem;
    width: 90%;
    padding-left: 4rem;
  }
  .bodyIndex .fondoText p {
    margin-top: 1rem;
    width: 90%;
    color: #000000;
    font-size: 2.7rem;
    text-align: left;
  }
  /*empresa.scss*/
  .bodyEmpresa {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    grid-template-areas: "headerGlobal headerGlobal" "carouselEmpresa textEmpresa" "footerGlobal footerGlobal";
  }
  .bodyEmpresa #carouselExampleAutoplaying .carousel-item {
    width: 90%;
    height: 90%;
    margin-top: 8%;
    margin-bottom: 5rem;
  }
  .bodyEmpresa .textEmpresa {
    margin-bottom: 1rem;
  }
  .bodyEmpresa .textEmpresa .font-monospace {
    width: 90%;
    color: #ffffff;
    margin-top: 1rem;
    padding: 6rem;
    font-size: 6rem;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.1em;
    transition: 0.3s ease;
    background: #0466c8;
    box-shadow: 0 1px 1px #000000;
    color: #ffffff;
    text-align: left;
    -webkit-animation: 2s anim-lineUp ease-out;
    animation: 2s anim-lineUp ease-out;
  }
  .bodyEmpresa .textEmpresa .font-monospace:hover {
    box-shadow: 0 5px 20px #000814;
    -webkit-transform: translateY(-10px) scale(1.02);
    -moz-transform: translateY(-10px) scale(1.02);
    -ms-transform: translateY(-10px) scale(1.02);
    -o-transform: translateY(-10px) scale(1.02);
    transform: translateY(-10px) scale(1.02);
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .bodyEmpresa .textEmpresa .textE {
    width: 90%;
    color: #000000;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2.1rem;
  }
  /* productos.scss */
  .falsoBody {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
    grid-template-areas: "headerGlobal headerGlobal headerGlobal" "title title title" "cardP cardP cardP" "footerGlobal footerGlobal footerGlobal";
  }
  .falsoBody .productosCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    justify-content: space-around;
  }
  .falsoBody .productosCard .textDos {
    font-size: 3rem;
    color: #ffffff;
    width: 90%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.1em;
    transition: 0.3s ease;
    background: #0466c8;
    box-shadow: 0 1px 1px #000000;
    color: #ffffff;
    text-align: left;
    -webkit-animation: 2s anim-lineUp ease-out;
    animation: 2s anim-lineUp ease-out;
  }
  .falsoBody .productosCard .textDos:hover {
    box-shadow: 0 5px 20px #000814;
    -webkit-transform: translateY(-10px) scale(1.02);
    -moz-transform: translateY(-10px) scale(1.02);
    -ms-transform: translateY(-10px) scale(1.02);
    -o-transform: translateY(-10px) scale(1.02);
    transform: translateY(-10px) scale(1.02);
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .falsoBody .productosCard .card {
    width: 26%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #0466c8;
    color: #ffffff;
    margin-bottom: 10rem;
  }
  .falsoBody .productosCard .card .card-text {
    font-size: 1.5rem;
    margin-top: 3rem;
    text-align: left;
  }
  .falsoBody .productosCard .card .card-body {
    width: 26%;
  }
  .falsoBody .productosCard .card .card-body .card-title {
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
  }
  .falsoBody .productosCard .card .card-body .btn-warning {
    margin-top: 2rem;
    margin-left: 0.1rem;
    margin-right: 5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 2rem;
  }
  .falsoBody .productosCard .card .card-img-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }
  /* servicios.scss */
  .bodyServicios {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    grid-template-areas: "headerGlobal headerGlobal headerGlobal" "carouselServicio asideProd asideProd" "footerGlobal footerGlobal footerGlobal";
    height: 100vh;
  }
  .bodyServicios .carouselServicios {
    margin-top: 1rem;
    padding: 3rem;
    height: 100vh;
  }
  .bodyServicios .carouselServicios .carousel-inner {
    margin-top: 2rem;
    width: 90%;
  }
  .bodyServicios .carouselServicios .tituloServicio {
    width: 90%;
    font-size: 5rem;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.1em;
    transition: 0.3s ease;
    background: #0466c8;
    box-shadow: 0 1px 1px #000000;
    color: #ffffff;
    text-align: left;
    -webkit-animation: 2s anim-lineUp ease-out;
    animation: 2s anim-lineUp ease-out;
  }
  .bodyServicios .carouselServicios .tituloServicio:hover {
    box-shadow: 0 5px 20px #000814;
    -webkit-transform: translateY(-10px) scale(1.02);
    -moz-transform: translateY(-10px) scale(1.02);
    -ms-transform: translateY(-10px) scale(1.02);
    -o-transform: translateY(-10px) scale(1.02);
    transform: translateY(-10px) scale(1.02);
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .bodyServicios .carouselServicios .text-pago {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: left;
    width: 90%;
  }
  .bodyServicios .asideProd {
    font-size: 2rem;
    margin-top: 5rem;
  }
  .bodyServicios .asideProd .text-start {
    font-size: 2rem;
    width: 90%;
  }
  .bodyServicios .asideProd .tarjetaCredito {
    margin-top: 2rem;
  }
  .bodyServicios .asideProd .tarjetaCredito img {
    width: 50%;
  }
  /* contacto.scss*/
  .contacto {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 2fr 0.1fr;
    grid-template-areas: "headerGlobal headerGlobal headerGlobal" "form horarios mapa" "form horarios mapa" "footerGlobal footerGlobal footerGlobal";
  }
  .contacto .formContacto {
    width: 90%;
    font-size: 1.8rem;
    margin-top: 4rem;
    height: 90%;
    margin-bottom: 4rem;
    padding: 2rem;
  }
  .contacto .formContacto .elem-group {
    padding-top: 1rem;
    margin-top: 1rem;
  }
  .contacto .divHorarios {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
  .contacto .divHorarios .tituloHorarios {
    color: #ffffff;
    font-size: 2rem;
    padding: 4rem;
  }
  .contacto .divHorarios p {
    margin-top: 5rem;
    width: 80%;
  }
  .contacto .mapaContacto {
    width: 70%;
    height: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
