.bodyEmpresa {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(4, 2fr);
  grid-template-areas:
    "headerGlobal headerGlobal"
    "carouselEmpresa carouselEmpresa"
    "textEmpresa textEmpresa"
    "footerGlobal footerGlobal";
  flex-wrap: wrap;
  height: 100vh;
  gap: 0.2rem;
  background-color: $colorFondo;

  .textEmpresa {
    color: $colorParrafo;
    font-size: 1.8rem;
    @include flex-row-center;
    font-family: "poppins";
    gap: 2rem;
    margin: 1rem;
    width: 95%;
    grid-area: textEmpresa;
    .font-monospace {
      font-size: 2rem;
      color: $colorH1;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-left: 3rem;
      @include efectoTitulos;
    }
  }

  #carouselExampleAutoplaying {
    grid-area: carouselEmpresa;
    width: 90%;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .bodyEmpresa {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas:
      "headerGlobal headerGlobal"
      "carouselEmpresa carouselEmpresa"
      "textEmpresa textEmpresa"
      "footerGlobal footerGlobal";
    flex-wrap: wrap;
    height: 100vh;
    gap: 2rem;

    #carouselExampleAutoplaying {
      grid-area: carouselEmpresa;
      margin: 4rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .textEmpresa {
      width: 90%;
      font-size: 2rem;
      @include flex-row-center;
      text-align: center;
      gap: 0.2rem;
      margin: 2rem;

      .font-monospace {
        margin-left: 5rem;
        font-size: 9rem;
        @include flex-row-center;
        text-align: center;
        @include efectoTitulos;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .bodyEmpresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas:
      "headerGlobal headerGlobal"
      "carouselEmpresa textEmpresa"
      "footerGlobal footerGlobal";
    flex-wrap: wrap;
    height: 100vh;
    gap: 2rem;

    #carouselExampleAutoplaying {
      grid-area: carouselEmpresa;
      margin: 4rem;

      .carousel-item {
        width: 90%;
        height: 90%;
        justify-content: center;
        margin-left: 5rem;
      }
    }

    .textEmpresa {
      width: 95%;
      font-size: 2rem;
      @include flex-row-center;
      gap: 0.2rem;
      margin: 2rem;

      .font-monospace {
        color: $colorH1;
        margin-left: 5rem;
        font-size: 10rem;
        @include flex-row-center;
        text-align: center;
        @include efectoTitulos;
      }
    }
  }
}
