.bodyEmpresa {
  font-family: "Roboto", sans-serif;
  @include gridCentrado;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
  grid-template-areas:
    "headerGlobal"
    "carouselEmpresa"
    "textEmpresa"
    "footerGlobal";
  height: 100vh;
  background-color: $colorFondo;

  #carouselExampleAutoplaying {
    @include gridCentrado;
    grid-area: carouselEmpresa;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      @include gridCentrado;
      padding: 3rem;
    }
  }

  .textEmpresa {
    grid-area: textEmpresa;
    @include gridCentrado;
    .font-monospace {
      width: 90%;
      @include gridCentrado;
      padding: 3rem;
      margin-top: 1rem;
      font-size: 3rem;
      color: $colorH1;
      @include efectoTitulos;
    }

    .textE {
      @include gridCentrado;

      width: 90%;
      color: $colorParrafo;
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-size: 1.7rem;
    }
  }
}
