.bodyIndex {
  font-family: "poppins";
  background-color: $colorFondo;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 2fr 0.1fr;
  grid-template-areas:
    "headerGlobal"
    "imgFluid"
    "fondoText"
    "footerGlobal";
  flex-wrap: wrap;
  height: 100vh;

  .img-fluid {
    width: 95%;
    margin-left: 1rem;
    @include flex-row-center;
    grid-area: imgFluid;
  }

  .fondoText {
    @include flex-row-center;
    width: 90%;
    grid-area: fondoText;
    top: 2rem;
    left: 2rem;
    text-align: left;

    .textUno {
      color: $colorH1;
      width: 90%;
      font-size: 3rem;
      text-align: left;
      align-items: center;
      margin-bottom: 1rem;
      margin-top: 2rem;
      position: relative;
      margin-left: 2rem;
      @include efectoTitulos;
    }

    p {
      color: $colorParrafo;
      font-size: 2rem;
      text-align: left;
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-left: 2rem;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .bodyIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1.5fr 0.1fr;
    grid-template-areas:
      "headerGlobal headerGlobal"
      "imgFluid imgFluid"
      "fondoText fondoText"
      "footerGlobal footerGlobal";
    flex-wrap: wrap;
    height: 100vh;

    .img-fluid {
      @include flex-row-center;
      grid-area: imgFluid;

      img {
        width: auto;
        height: auto;
      }
    }

    .fondoText {
      @include flex-row-center;
      width: 90%;
      background-color: transparent;
      grid-area: fondoText;
      left: 2rem;
      text-align: left;

      .textUno {
        font-size: 3.5rem;
        color: $colorH1;
        text-align: left;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 3rem;
        position: relative;
        left: 2rem;
        grid-area: textUno;
        @include efectoTitulos;
      }

      p {
        color: $colorParrafo;
        font-size: 2.5rem;
        left: 2rem;
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .bodyIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
    grid-template-areas:
      "headerGlobal headerGlobal headerGlobal"
      "imgFluid fondoText fondoText"
      "imgFluid fondoText fondoText"
      "footerGlobal footerGlobal footerGlobal";
    flex-wrap: wrap;
    height: 100vh;

    .img-fluid {
      position: relative;
      grid-area: imgFluid;
      left: 10%;
      width: 80%;
      height: 80%;
      top: 10%;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      border-radius: 2rem;

      .img-fluid:hover {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 15px 15px $colorLink;
        box-shadow: 0px 0px 15px 15px $colorLink;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    .fondoText {
      font-size: 3rem;
      color: $colorParrafo;
      position: relative;
      margin-top: 1rem;
      @include flex-row-center;
      justify-content: center;
      align-items: center;
      width: 90%;
      background-color: transparent;
      grid-area: fondoText;
      left: 1%;

      .textUno {
        color: $colorH1;
        text-align: center;
        align-items: center;
        font-size: 6rem;
        position: relative;
        grid-area: textUno;
        width: 90%;
        @include efectoTitulos;
      }

      p {
        color: $colorParrafo;
        font-size: 2rem;
        left: 1rem;
        text-align: left;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 1rem;
      }
    }
  }
}
