.bodyIndex {
  font-family: "Roboto", sans-serif;
  background-color: $colorFondo;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
  grid-template-areas:
    "headerGlobal"
    "imgFluid"
    "fondoText"
    "footerGlobal";
  @include gridCentrado;

  .img-fluid {
    width: 90%;

    padding: 1rem;
    margin-top: 1rem;
    @include gridCentrado;
    grid-area: imgFluid;

    img {
      width: auto;
      height: auto;
      @include gridCentrado;
    }
  }

  .fondoText {
    @include gridCentrado;
    width: 90%;
    grid-area: fondoText;
    text-align: left;

    .textUno {
      padding: 1rem;
      width: 90%;
      font-size: 2.5rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      @include efectoTitulos;
    }

    p {
      width: 90%;

      @include estiloParrafo;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
}
