.falsoBody {
  font-family: "Roboto", sans-serif;
  background-color: $colorFondo;
  @include gridCentrado;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas:
    "headerGlobal"
    "cardP"
    "footerGlobal";
  height: 100vh;

  .productosCard {
    @include gridCentrado;
    grid-area: cardP;
    color: $colorH1;
    width: 90%;

    .textDos {
      width: 90%;
      @include gridCentrado;
      margin-top: 3rem;
      padding-left: 10rem;
      @include efectoTitulos;
    }

    .card {
      width: 90%;
      margin-top: 4rem;
      margin-left: 4rem;
      margin-right: 4rem;
      color: $colorH1;
      font-size: 1.3rem;
      @include efectoTitulos;
      margin-bottom: 2rem;
      @include gridCentrado;

      .card-title {
        margin-top: 3rem;
        font-size: 2rem;
        color: $colorLink;
        margin-bottom: 3.5rem;
        @include gridCentrado;
      }

      .btn-warning {
        @include gridCentrado;
        margin-top: 5rem;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
      }
    }
  }
}
