.bodyServicios {
  font-family: "Roboto", sans-serif;
  background-color: $colorFondo;
  @include gridCentrado;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 3fr 2fr 0.1fr;
  grid-template-areas:
    "headerGlobal"
    "carouselServicio"
    "asideProd"
    "footerGlobal";

  .carouselServicios {
    @include gridCentrado;
    width: 100%;

    .carousel-inner {
      margin-top: 3rem;
      width: 100%;
      padding: 3rem;
      grid-area: carouselServicio;
    }

    .tituloServicio {
      width: 90%;
      color: $colorH1;
      margin-top: 3rem;

      font-size: 2.5rem;
      @include gridCentrado;
      @include efectoTitulos;
    }

    .text-pago {
      margin-top: 3rem;
      @include gridCentrado;
      font-size: 1.8rem;
      text-align: left;
      width: 90%;
      color: $colorParrafo;
    }
  }

  .asideProd {
    width: 90%;
    @include gridCentrado;
    color: $colorParrafo;
    grid-area: asideProd;

    .text-start {
      margin-top: 3rem;
      @include gridCentrado;
      font-size: 1.8rem;
      text-align: left;
      width: 90%;
    }

    .tarjetaCredito {
      @include gridCentrado;
      margin-top: 3rem;
      img {
        width: 85%;
        height: 70%;
        margin-bottom: 3rem;
      }
    }
  }
}
