.footerGlobal {
  width: 100%;
  padding: 3rem;
  height: 28rem;
  @include flexboxCentrado;
  background: $colorHeaderFooter;
  grid-area: footerGlobal;

  .logoFooter {
    @include flexboxCentrado;
    width: 6rem;
    height: 6rem;
    margin: 3rem;
  }

  .footerText {
    font-size: 1.4rem;
    @include flexboxCentrado;
    color: $colorFondo;
  }

  a {
    @include flexboxCentrado;
    flex-wrap: nowrap;
    list-style-type: none;
    text-decoration: none;
    img {
      width: 3rem;
      height: 3rem;
      margin: 1rem;
    }
  }
}
