.headerGlobal {
  width: 100%;
  @include flexboxCentrado;
  justify-content: space-between;
  font-size: 0.5rem;
  background: $colorHeaderFooter;
  grid-area: headerGlobal;

  img {
    width: 6rem;
    height: 6rem;
    margin: 2rem;
  }

  .container-fluid {
    .navbar-nav {
      list-style: none;
      text-decoration: none;
      font-size: 1.5rem;
    }
  }
}
